@model RS1SeminarskiRad2020.ViewModels.PolaznikGrupaVM.GrupePrikazVM
<h4>Grupe</h4>
<hr />
<br />
<div class="row">
    <div class="col col-md-4">
        <form asp-controller="GrupaPolaznik" asp-action="PrikazGrupa">
            <label class="control-label">Filter za grupe:</label>
            <br />
            <select class="form-control" asp-for="GrupaID" asp-items="@Model.Grupe">

                <option>Odaberi grupu</option>


            </select>
            <br />
            <label class="control-label">Filter za kurseve:</label>
            <br />
            <select class="form-control" asp-for="KursID" asp-items="@Model.Kursevi">

                <option>Odaberi kurs</option>


            </select>
            <br />

            <input type="submit" value="Filtriraj" />
            <br />

        </form>
    </div>
</div>
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Kurs</th>
            <th>Polaznik</th>
            <th>Grupa</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var x in Model.Redovi)
        {
            <tr>
                <td>@x.NazivKursa</td>
                <td>@x.ImePrezime</td>
                <td>@x.NazivGrupe</td>
            </tr>
        }

    </tbody>

</table>
<br />
<a asp-controller="Administrator" asp-action="Crud">Nazad</a>
